<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.orderapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrderApp">
        <activity
            android:name=".Sentorder"
            android:exported="false" />
        <activity
            android:name=".Customerdo"
            android:exported="false" />
        <activity
            android:name=".CartDetail"
            android:exported="false" />
        <activity
            android:name=".Cart"
            android:exported="false" />
        <activity
            android:name=".Addfood"
            android:exported="false" />
        <activity
            android:name=".ShopDetail"
            android:exported="false" />
        <activity
            android:name=".StoreOwn"
            android:exported="false" />
        <activity
            android:name=".FoodPage"
            android:exported="false" />
        <activity
            android:name=".StoreDetail"
            android:exported="false" />
        <activity
            android:name=".Storelist"
            android:exported="false" />
        <activity
            android:name=".Identity"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Store"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>